# Configurando o ambiente

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [2]:
!wget -q https://dlcdn.apache.org/spark/spark-3.4.0/spark-3.4.0-bin-hadoop3.tgz

In [3]:
!tar xf /content/spark-3.4.0-bin-hadoop3.tgz

In [4]:
import os
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-8-openjdk-amd64'
os.environ['SPARK_HOME'] = '/content/spark-3.4.0-bin-hadoop3'

In [5]:
!pip install -q findspark

In [6]:
import findspark
findspark.init('')

In [7]:
from google.colab import files
arq = files.upload()

Saving movies_dataset.csv to movies_dataset.csv

In [8]:
from pyspark.sql import SparkSession
spark = SparkSession.builder\
        .master('local')\
        .appName('sparkmovies')\
        .getOrCreate()

In [9]:
# o caracter § é usado como delimitador pois o dataset possui atributos com valores que podem
# apresentar caracteres que são comumente usados como delimitadores
movies = spark.read.option('delimiter', '§').csv('movies_dataset.csv', header=True, inferSchema=True)

# Explorando os dados

In [10]:
movies.show(10)

+-----+---------+--------------------+--------------------+------+--------------------+-----------------+--------------------+--------------------+------------------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+------------+----------+--------------------+--------------------+-----------------+
|index|   budget|              genres|            homepage|    id|            keywords|original_language|      original_title|            overview|        popularity|production_companies|production_countries|release_date|   revenue|runtime|    spoken_languages|  status|             tagline|               title|vote_average|vote_count|                cast|                crew|         director|
+-----+---------+--------------------+--------------------+------+--------------------+-----------------+--------------------+--------------------+------------------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+------------+----------+--------------------+--------------------+-----------------+
|    0|237000000|Action Adventure ...|http://www.avatar...| 19995|culture clash fut...|               en|              Avatar|In the 22nd centu...|        150.437577|"[{""name"": ""In...|"[{""iso_3166_1""...|  2009-12-10|2787965087|  162.0|"[{""iso_639_1"":...|Released|Enter the World o...|              Avatar|         7.2|     11800|Sam Worthington Z...|"[{'name': 'Steph...|    James Cameron|
|    1|300000000|Adventure Fantasy...|http://disney.go....|   285|ocean drug abuse ...|               en|Pirates of the Ca...|Captain Barbossa,...|        139.082615|"[{""name"": ""Wa...|"[{""iso_3166_1""...|  2007-05-19| 961000000|  169.0|"[{""iso_639_1"":...|Released|At the end of the...|Pirates of the Ca...|         6.9|      4500|Johnny Depp Orlan...|[{'name': 'Darius...|   Gore Verbinski|
|    2|245000000|Action Adventure ...|http://www.sonypi...|206647|spy based on nove...|               en|             Spectre|A cryptic message...|107.37678799999999|"[{""name"": ""Co...|"[{""iso_3166_1""...|  2015-10-26| 880674609|  148.0|"[{""iso_639_1"":...|Released|A Plan No One Esc...|             Spectre|         6.3|      4466|Daniel Craig Chri...|"[{'name': 'Thoma...|       Sam Mendes|
|    3|250000000|Action Crime Dram...|http://www.thedar...| 49026|dc comics crime f...|               en|The Dark Knight R...|Following the dea...|         112.31295|"[{""name"": ""Le...|"[{""iso_3166_1""...|  2012-07-16|1084939099|  165.0|"[{""iso_639_1"":...|Released|     The Legend Ends|The Dark Knight R...|         7.6|      9106|Christian Bale Mi...|"[{'name': 'Hans ...|Christopher Nolan|
|    4|260000000|Action Adventure ...|http://movies.dis...| 49529|based on novel ma...|               en|         John Carter|John Carter is a ...|         43.926995|"[{""name"": ""Wa...|"[{""iso_3166_1""...|  2012-03-07| 284139100|  132.0|"[{""iso_639_1"":...|Released|Lost in our world...|         John Carter|         6.1|      2124|Taylor Kitsch Lyn...|[{'name': 'Andrew...|   Andrew Stanton|
|    5|258000000|Fantasy Action Ad...|http://www.sonypi...|   559|dual identity amn...|               en|        Spider-Man 3|The seemingly inv...|115.69981399999999|"[{""name"": ""Co...|"[{""iso_3166_1""...|  2007-05-01| 890871626|  139.0|"[{""iso_639_1"":...|Released|  The battle within.|        Spider-Man 3|         5.9|      3576|Tobey Maguire Kir...|[{'name': 'Franci...|        Sam Raimi|
|    6|260000000|    Animation Family|http://disney.go....| 38757|hostage magic hor...|               en|             Tangled|When the kingdom'...|         48.681969|"[{""name"": ""Wa...|"[{""iso_3166_1""...|  2010-11-24| 591794936|  100.0|"[{""iso_639_1"":...|Released|They're taking ad...|             Tangled|         7.4|      3330|Zachary Levi Mand...|[{'name': 'John L...|     Byron Howard|
|    7|280000000|Action Adventure ...|http://marvel.com...| 99861|marvel comic sequ...|               en|Avengers: Age of ...|When Tony Stark t...|134.27922900000002|"[{""name"": ""Ma...|"[{""iso_3166_1""...|  2015-04-22|1405403694|  141.0|"[{""iso_639_1"":...|Released| A New Age Has Come.|Avengers: Age of ...|         7.3|      6767|Robert Downey Jr....|"[{'name': 'Danny...|      Joss Whedon|
|    8|250000000|Adventure Fantasy...|http://harrypotte...|   767|witch magic broom...|               en|Harry Potter and ...|As Harry begins h...|         98.885637|"[{""name"": ""Wa...|"[{""iso_3166_1""...|  2009-07-07| 933959197|  153.0|"[{""iso_639_1"":...|Released|Dark Secrets Reve...|Harry Potter and ...|         7.4|      5293|Daniel Radcliffe ...|"[{'name': 'Bruno...|      David Yates|
|    9|250000000|Action Adventure ...|http://www.batman...|209112|dc comics vigilan...|               en|Batman v Superman...|Fearing the actio...|        155.790452|"[{""name"": ""DC...|"[{""iso_3166_1""...|  2016-03-23| 873260194|  151.0|"[{""iso_639_1"":...|Released|  Justice or revenge|Batman v Superman...|         5.7|      7004|Ben Affleck Henry...|"[{'name': 'Hans ...|      Zack Snyder|
+-----+---------+--------------------+--------------------+------+--------------------+-----------------+--------------------+--------------------+------------------+--------------------+--------------------+------------+----------+-------+--------------------+--------+--------------------+--------------------+------------+----------+--------------------+--------------------+-----------------+
only showing top 10 rows

In [11]:
movies.printSchema()

root
 |-- index: string (nullable = true)
 |-- budget: string (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- keywords: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: string (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: string (nullable = true)
 |-- revenue: string (nullable = true)
 |-- runtime: string (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- vote_average: string (nullable = true)
 |-- vote_count: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- director: string (nullable = true)

In [12]:
from pyspark.sql.functions import col
from pyspark.sql.types import DateType, DoubleType, IntegerType

In [13]:
# Conversão de tipos de alguns atributos (inicialmete todos são string)
movies = movies.withColumn('budget', col('budget').cast(IntegerType()))\
      .withColumn('popularity', col('popularity').cast(DoubleType()))\
      .withColumn('release_date', col('release_date').cast(DateType()))\
      .withColumn('revenue', col('revenue').cast(DoubleType()))\
      .withColumn('runtime', col('runtime').cast(DoubleType()))\
      .withColumn('vote_average', col('vote_average').cast(DoubleType()))\
      .withColumn('vote_count', col('vote_count').cast(IntegerType()))

In [14]:
movies.printSchema()

root
 |-- index: string (nullable = true)
 |-- budget: integer (nullable = true)
 |-- genres: string (nullable = true)
 |-- homepage: string (nullable = true)
 |-- id: string (nullable = true)
 |-- keywords: string (nullable = true)
 |-- original_language: string (nullable = true)
 |-- original_title: string (nullable = true)
 |-- overview: string (nullable = true)
 |-- popularity: double (nullable = true)
 |-- production_companies: string (nullable = true)
 |-- production_countries: string (nullable = true)
 |-- release_date: date (nullable = true)
 |-- revenue: double (nullable = true)
 |-- runtime: double (nullable = true)
 |-- spoken_languages: string (nullable = true)
 |-- status: string (nullable = true)
 |-- tagline: string (nullable = true)
 |-- title: string (nullable = true)
 |-- vote_average: double (nullable = true)
 |-- vote_count: integer (nullable = true)
 |-- cast: string (nullable = true)
 |-- crew: string (nullable = true)
 |-- director: string (nullable = true)

# Filtrando dados

In [15]:
# Atributos menos releantes para situação
movies = movies.drop('homepage', 'id', 'overview', 'production_countries', 'spoken_languages',
            'status', 'tagline', 'cast', 'crew')

In [16]:
from pyspark.sql.functions import current_date

In [17]:
movies.count()

4814

In [18]:
# Filmes que possuem uma nota média superior a 10 ou uma data de lançamento superior a data atual
movies.filter((movies.vote_average > 10) | (movies.runtime > 300.0) | (movies.release_date > current_date())).count()

195

In [19]:
# Removendo linhas com valores nulos
movies = movies.dropna()

In [20]:
movies = movies.filter((movies.vote_average <= 10) & (movies.runtime <= 300.0) & (movies.release_date <= current_date()))

In [21]:
movies.count()

4071

# Convertendo atributo production_companies do tipo string para uma lista

In [22]:
companies = movies.select('production_companies')
companies = companies.rdd.map(lambda x: (x[0][1:-1],)).toDF(['production_companies'])

In [23]:
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, StringType
import json

In [24]:
# Função que converte cada elemento string do atributo production_companies em uma lista de strings com os nomes das produtoras
def convert_str_to_dict(dict_string):
  item_str = dict_string.replace('""', '"')
  item_str = item_str.replace('},', '}§')
  item_str = item_str[1:-1]
  item_list = item_str.split('§')
  col_dic = []
  for il in item_list:
    if '" "' in il:
      il = il.replace('" "', '", "')
    il = json.loads(il)
    col_dic.append(il['name'])
  return col_dic

In [25]:
udf_convert = udf(convert_str_to_dict, ArrayType(StringType()))

In [26]:
companies = companies.withColumn('production_companies_names', udf_convert('production_companies'))
companies = companies.drop('production_companies')

In [27]:
from pyspark.sql.functions import monotonically_increasing_id, row_number
from pyspark.sql.window import Window

In [28]:
companies = companies.withColumn('index', row_number().over(Window.orderBy(monotonically_increasing_id())))
movies = movies.join(companies, on = ['index'])
movies.show(5, truncate=False)

+-----+---------+--------------------------------+----------------------------------------------------------------------------+-----------------+----------------------------------------+------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+-------+----------------------------------------+------------+----------+-----------------+---------------------------------------------------------------------------------------------------------------+
|index|budget   |genres                          |keywords                                                                    |original_language|original_title                          |popularity        |production_companies                                                                                                                                                                 |release_date|revenue      |runtime|title                                   |vote_average|vote_count|director         |production_companies_names                                                                                     |
+-----+---------+--------------------------------+----------------------------------------------------------------------------+-----------------+----------------------------------------+------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+-------+----------------------------------------+------------+----------+-----------------+---------------------------------------------------------------------------------------------------------------+
|1    |300000000|Adventure Fantasy Action        |ocean drug abuse exotic island east india trading company love of one's life|en               |Pirates of the Caribbean: At World's End|139.082615        |"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""name"": ""Jerry Bruckheimer Films"", ""id"": 130}, {""name"": ""Second Mate Productions"" ""id"": 19936}]"                     |2007-05-19  |9.61E8       |169.0  |Pirates of the Caribbean: At World's End|6.9         |4500      |Gore Verbinski   |[Ingenious Film Partners, Twentieth Century Fox Film Corporation, Dune Entertainment, Lightstorm Entertainment]|
|2    |245000000|Action Adventure Crime          |spy based on novel secret agent sequel mi6                                  |en               |Spectre                                 |107.37678799999999|"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""name"": ""Danjaq"", ""id"": 10761}, {""name"": ""B24"" ""id"": 69434}]"                                                           |2015-10-26  |8.80674609E8 |148.0  |Spectre                                 |6.3         |4466      |Sam Mendes       |[Walt Disney Pictures, Jerry Bruckheimer Films, Second Mate Productions]                                       |
|3    |250000000|Action Crime Drama Thriller     |dc comics crime fighter terrorist secret identity burglar                   |en               |The Dark Knight Rises                   |112.31295         |"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""name"": ""Warner Bros."", ""id"": 6194}, {""name"": ""DC Entertainment"", ""id"": 9993}, {""name"": ""Syncopy"" ""id"": 9996}]"|2012-07-16  |1.084939099E9|165.0  |The Dark Knight Rises                   |7.6         |9106      |Christopher Nolan|[Columbia Pictures, Danjaq, B24]                                                                               |
|4    |260000000|Action Adventure Science Fiction|based on novel mars medallion space travel princess                         |en               |John Carter                             |43.926995         |"[{""name"": ""Walt Disney Pictures"" ""id"": 2}]"                                                                                                                                   |2012-03-07  |2.841391E8   |132.0  |John Carter                             |6.1         |2124      |Andrew Stanton   |[Legendary Pictures, Warner Bros., DC Entertainment, Syncopy]                                                  |
|5    |258000000|Fantasy Action Adventure        |dual identity amnesia sandstorm love of one's life forgiveness              |en               |Spider-Man 3                            |115.69981399999999|"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""name"": ""Laura Ziskin Productions"", ""id"": 326}, {""name"": ""Marvel Enterprises"" ""id"": 19551}]"                            |2007-05-01  |8.90871626E8 |139.0  |Spider-Man 3                            |5.9         |3576      |Sam Raimi        |[Walt Disney Pictures]                                                                                         |
+-----+---------+--------------------------------+----------------------------------------------------------------------------+-----------------+----------------------------------------+------------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+-------------+-------+----------------------------------------+------------+----------+-----------------+---------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

### Range de valores dos principais atributos numéricos

In [29]:
from pyspark.sql.functions import min, max

In [30]:
movies.select(min(movies.budget), max(movies.budget)).show()
movies.select(min(movies.release_date), max(movies.release_date)).show()
movies.select(min(movies.revenue), max(movies.revenue)).show()
movies.select(min(movies.runtime), max(movies.runtime)).show()
movies.select(min(movies.vote_average), max(movies.vote_average)).show()
movies.select(min(movies.vote_count), max(movies.vote_count)).show()

+-----------+-----------+
|min(budget)|max(budget)|
+-----------+-----------+
|          0|  380000000|
+-----------+-----------+

+-----------------+-----------------+
|min(release_date)|max(release_date)|
+-----------------+-----------------+
|       1927-01-10|       2016-09-16|
+-----------------+-----------------+

+------------+-------------+
|min(revenue)| max(revenue)|
+------------+-------------+
|         0.0|1.845034188E9|
+------------+-------------+

+------------+------------+
|min(runtime)|max(runtime)|
+------------+------------+
|        41.0|       254.0|
+------------+------------+

+-----------------+-----------------+
|min(vote_average)|max(vote_average)|
+-----------------+-----------------+
|              0.0|              8.5|
+-----------------+-----------------+

+---------------+---------------+
|min(vote_count)|max(vote_count)|
+---------------+---------------+
|              0|          13752|
+---------------+---------------+

# Ranqueando alguns filmes

In [31]:
# Filmes que arrecadaram acima de 1 bilhão
print(movies.filter(movies.revenue >= 1.0E9).count())
movies.filter(movies.revenue >= 1.0E9)\
      .select('budget', 'original_title', 'release_date', 'revenue', 'title', 'vote_average', 'director')\
      .sort(col('revenue').desc())\
      .toPandas()

19

,budget,original_title,release_date,revenue,title,vote_average,director
0,200000000,Titanic,1997-11-18,1.845034e+09,Titanic,7.5,James Cameron
1,220000000,The Avengers,2012-04-25,1.519558e+09,The Avengers,7.4,Joss Whedon
2,150000000,Jurassic World,2015-06-09,1.513529e+09,Jurassic World,6.5,Colin Trevorrow
3,190000000,Furious 7,2015-04-01,1.506249e+09,Furious 7,7.3,James Wan
4,280000000,Avengers: Age of Ultron,2015-04-22,1.405404e+09,Avengers: Age of Ultron,7.3,Joss Whedon
5,150000000,Frozen,2013-11-27,1.274219e+09,Frozen,7.3,Chris Buck
6,200000000,Iron Man 3,2013-04-18,1.215440e+09,Iron Man 3,6.8,Shane Black
7,74000000,Minions,2015-06-17,1.156731e+09,Minions,6.4,Kyle Balda
8,250000000,Captain America: Civil War,2016-04-27,1.153304e+09,Captain America: Civil War,7.1,Anthony Russo
9,195000000,Transformers: Dark of the Moon,2011-06-28,1.123747e+09,Transformers: Dark of the Moon,6.1,Michael Bay
10,94000000,The Lord of the Rings: The Return of the King,2003-12-01,1.118889e+09,The Lord of the Rings: The Return of the King,8.1,Peter Jackson
11,200000000,Skyfall,2012-10-25,1.108561e+09,Skyfall,6.9,Sam Mendes
12,250000000,The Dark Knight Rises,2012-07-16,1.084939e+09,The Dark Knight Rises,7.6,Christopher Nolan
13,200000000,Toy Story 3,2010-06-16,1.066970e+09,Toy Story 3,7.6,Lee Unkrich
14,200000000,Pirates of the Caribbean: Dead Man's Chest,2006-06-20,1.065660e+09,Pirates of the Caribbean: Dead Man's Chest,7.0,Gore Verbinski
15,380000000,Pirates of the Caribbean: On Stranger Tides,2011-05-14,1.045714e+09,Pirates of the Caribbean: On Stranger Tides,6.4,Rob Marshall
16,200000000,Alice in Wonderland,2010-03-03,1.025491e+09,Alice in Wonderland,6.4,Tim Burton
17,250000000,The Hobbit: An Unexpected Journey,2012-11-26,1.021104e+09,The Hobbit: An Unexpected Journey,7.0,Peter Jackson
18,185000000,The Dark Knight,2008-07-16,1.004558e+09,The Dark Knight,8.2,Christopher Nolan

In [32]:
# Filmes com as maiores notas
movies.sort(col('vote_average').desc(), col('vote_count').desc())\
      .select('original_title', 'release_date', 'title', 'vote_average', 'vote_count', 'director')\
      .toPandas()\
      .head(10)

,original_title,release_date,title,vote_average,vote_count,director
0,The Shawshank Redemption,1994-09-23,The Shawshank Redemption,8.5,8205,Frank Darabont
1,The Godfather,1972-03-14,The Godfather,8.4,5893,Francis Ford Coppola
2,The Prisoner of Zenda,1937-09-03,The Prisoner of Zenda,8.4,11,John Cromwell
3,Fight Club,1999-10-15,Fight Club,8.3,9413,David Fincher
4,Pulp Fiction,1994-10-08,Pulp Fiction,8.3,8428,Quentin Tarantino
5,Schindler's List,1993-11-29,Schindler's List,8.3,4329,Steven Spielberg
6,Whiplash,2014-10-10,Whiplash,8.3,4254,Damien Chazelle
7,千と千尋の神隠し,2001-07-20,Spirited Away,8.3,3840,Hayao Miyazaki
8,The Godfather: Part II,1974-12-20,The Godfather: Part II,8.3,3338,Francis Ford Coppola
9,The Dark Knight,2008-07-16,The Dark Knight,8.2,12002,Christopher Nolan

In [33]:
# Filmes de língua não inglesa com as maiores notas
print(movies.filter(movies.original_language != 'en').count())
movies.filter(movies.original_language != 'en')\
      .sort(col('vote_average').desc())\
      .select('budget', 'original_language', 'original_title', 'release_date', 'runtime', 'title', 'vote_average')\
      .toPandas()\
      .head(10)

171

,budget,original_language,original_title,release_date,runtime,title,vote_average
0,15000000,ja,千と千尋の神隠し,2001-07-20,125.0,Spirited Away,8.3
1,24000000,ja,ハウルの動く城,2004-11-19,119.0,Howl's Moving Castle,8.2
2,26500000,ja,もののけ姫,1997-07-12,134.0,Princess Mononoke,8.2
3,5000000,it,C'era una volta il West,1968-12-21,175.0,Once Upon a Time in the West,8.1
4,3300000,pt,Cidade de Deus,2002-02-05,130.0,City of God,8.1
5,92620000,de,Metropolis,1927-01-10,153.0,Metropolis,8.0
6,3000000,ko,올드보이,2003-01-01,120.0,Oldboy,8.0
7,14000000,de,Das Boot,1981-09-16,149.0,Das Boot,7.9
8,0,fr,Polisse,2011-10-06,127.0,Polisse,7.9
9,6800000,fr,Incendies,2010-09-04,130.0,Incendies,7.9